In [1]:
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [3]:
for i in list :
    print(i, type(list))

1 <class 'list'>
2 <class 'list'>
3 <class 'list'>
4 <class 'list'>
5 <class 'list'>

In [4]:
list1 = ["viru", "mudit", "meena", "anisha"]

In [6]:
for i in list1 :
    print(i)

viru
mudit
meena
anisha

In [8]:
for i in list1 :
    print(i)
else :
    print("if for loop is able to complete itself then only else will execute ")

viru
mudit
meena
anisha
if for loop is able to complete itself then only else will execute

In [11]:
list1

['viru', 'mudit', 'meena', 'anisha']

In [14]:
for i in list1 :
    if i == "meena" :
        break
    print(i)

viru
mudit

In [15]:
for i in list1 :
    if i == "mudit" :
        break
    print(i)
else :
    print("execute this if for loop is able to complete itself")

viru

In [17]:
list1

['viru', 'mudit', 'meena', 'anisha']

In [18]:
for i in list1 :
    if i == "meena" :
        continue
    print(i)

viru
mudit
anisha

In [19]:
for i in list1 :
    if i == "meena" :
        continue
    print(i)
else :
    print("execute this if for loop is able to complete itself")

viru
mudit
anisha
execute this if for loop is able to complete itself

In [3]:
range(7)

range(0, 7)

In [4]:
list(range(5))

[0, 1, 2, 3, 4]

In [6]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [7]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [8]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [11]:
list2 = ["Rahul", "Anshul", "Vicky", "Robin"]
list2

['Rahul', 'Anshul', 'Vicky', 'Robin']

In [12]:
len(list2)

4

In [13]:
range(len(list2))

range(0, 4)

In [15]:
list(range(len(list2)))

[0, 1, 2, 3]

In [16]:
for i in range(len(list2)) :
    print(list2[i])

Rahul
Anshul
Vicky
Robin

In [17]:
len(list2)

4

In [19]:
list(range(len(list2)))

[0, 1, 2, 3]

In [20]:
list(range(len(list2)-1, -1,-1))

[3, 2, 1, 0]

In [22]:
for i in range(len(list2)-1, -1,-1) :
    print(list2[i])

Robin
Vicky
Anshul
Rahul

In [23]:
list2

['Rahul', 'Anshul', 'Vicky', 'Robin']

In [26]:
list3 = [23,45,67,3,78,56,77,88,99,11,90, 100]
print(list3)

[23, 45, 67, 3, 78, 56, 77, 88, 99, 11, 90, 100]

In [27]:
len(list3)

12

In [28]:
range(len(list3))

range(0, 12)

In [29]:
list(range(len(list3)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [30]:
range(0, len(list3), 2)

range(0, 12, 2)

In [31]:
list(range(0, len(list3), 2))

[0, 2, 4, 6, 8, 10]

In [32]:
for i in range(0, len(list3), 2):
    print(i)

0
2
4
6
8
10

In [33]:
for i in range(0, len(list3), 2):
    print(list3[i])

23
67
78
77
99
90

In [34]:
list3

[23, 45, 67, 3, 78, 56, 77, 88, 99, 11, 90, 100]

In [35]:
l = [1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [36]:
sum(l)

15

In [39]:
result = 0
for i in l :
    result = result + i
result

15

In [40]:
result = 0
for i in l :
    result = result + i
print(result)

15

In [41]:
tuple = (1,2,3,4,5)
print(tuple)

(1, 2, 3, 4, 5)

In [44]:
result = 0
for i in tuple : 
    result = result + i
result

15

In [45]:
set = {1,2,3,4,"vikram", "bhai"}
print(set)

{1, 2, 3, 4, 'bhai', 'vikram'}

In [46]:
for i in set :
    print(i)

1
2
3
4
bhai
vikram

In [47]:
string = "p w s k i l l s"
print(string)

p w s k i l l s

In [48]:
" ".join(string.replace(" ", ""))

'p w s k i l l s'

In [49]:
"pwskills"[::-1].upper().replace("SLLIKSWP", "pwskills").islower()

True