In [29]:
# Function

def test () :
    print("Hello Viru")
test()

Hello Viru

In [33]:
def Greeting () :
    print("Good Morning Viru")
    
Greeting ()

Good Morning Viru

In [31]:
Greeting()

Good Morning Viru

In [34]:
Greeting () + "And Riya"

Good Morning Viru

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [36]:
# agar string ko bhi add krna hai to kese kerege

def Hello () :
    return "Hello Rahul"
Hello ()

'Hello Rahul'

In [38]:
Hello () + " Ruchi"

'Hello Rahul Ruchi'

In [39]:
def test1 () :
    return "viru", 23, 34, 23.8, [1,2,34,],  (2,4,7,8), {"key" : 1, "key2" : 2}

In [40]:
test1()

('viru', 23, 34, 23.8, [1, 2, 34], (2, 4, 7, 8), {'key': 1, 'key2': 2})

In [41]:
a,b,c,d,e,f,g = test1()

In [42]:
a

'viru'

In [43]:
b

23

In [44]:
c,d

(34, 23.8)

In [45]:
e,f

([1, 2, 34], (2, 4, 7, 8))

In [46]:
g

{'key': 1, 'key2': 2}

In [47]:
def test2 () :
    return 8 + 14 /6

In [48]:
test2()

10.333333333333334

In [49]:
def test3 (a,b,c) : 
    d = a + b /c
    return d

In [50]:
test3(8,14,6)

10.333333333333334

In [51]:
list = [1,2,3,4, "virendra", "Rishika", [2,4,6,8]]
list

[1, 2, 3, 4, 'virendra', 'Rishika', [2, 4, 6, 8]]

In [55]:
l1 = []
for i in list : 
    if type(i) == int or type(i) == float :
        l1.append(i)

In [56]:
l1

[1, 2, 3, 4]

In [67]:
def test4 (list) :
    l1 = []
    for i in list : 
       if type(i) == int or type(i) == float :
         l1.append(i)
    return l1

In [68]:
test4(list)

[1, 2, 3, 4]

In [79]:
def test5(a) :
    list = []
    for i in a :
        if type(i) == list :
            for j in i :
                list.append(j)
        else :
            if type(i) == int or type(i) == float :
                list.append(i)
    return list

In [80]:
test5(list)

[1, 2, 3, 4]

In [75]:
list

[1, 2, 3, 4, 'virendra', 'Rishika', [2, 4, 6, 8]]