In [ ]:
# Inheritance

class test :

    def test_meth(self):
        return "this is my first class"

In [2]:
class child_test(test):
    pass

In [3]:
child_test_obj = child_test()

In [4]:
child_test_obj.test_meth()

'this is my first class'

In [ ]:
class class1 :

    def test_class1(self):
        return "this is my class1"

In [6]:
class class2(class1):

    def test_class2(self):
        return "this is my class2"

In [7]:
class class3(class2):

    def test_class3(self):
        pass

In [9]:
obj_class3 = class3()

In [10]:
obj_class3.test_class1()

'this is my class1'

In [12]:
obj_class3.test_class2()

'this is my class2'

In [13]:
obj_class3.test_class3()

In [14]:
# multipal

class class1 :

    def test_class1(self):
        return "this is class1"

In [15]:

class class12 :

    def test_class2(self):
        return "this is class2"

In [16]:

class class3 (class1, class2) :

    pass

In [17]:
obj_class3 = class3()

In [19]:
obj_class3.test_class1()

'this is class1'

PRACTICE

In [ ]:
class viru :
    def test_viru(self) :
        return "Viru your marks is 78. you are pass is ML"

In [2]:
class praveen :
    def test_praveen(self):
        return "praveen your marks is 67. you are pass in Cyber"

In [3]:
class anisha :
    def test_anisha(self) :
        return "anisha your marks is 82. you are pass in chemistry"

In [7]:
class result(viru,praveen,anisha) :
    pass

In [8]:
class_result = result()

In [9]:
class_result.test_praveen()

'praveen your marks is 67. you are pass in Cyber'

In [10]:
class_result.test_anisha()

'anisha your marks is 82. you are pass in chemistry'