Measure Of Central Tendency

In [1]:
## Mean (Average)

age = [12,21,23,45,65,43,56,45,32,67,54,34]

In [3]:
import numpy as np
np.mean(age)

np.float64(41.416666666666664)

In [4]:
weights = [54,45,34,54,34,67,54,56,75]

In [5]:
np.mean(weights)

np.float64(52.55555555555556)

In [7]:
import seaborn as sns
df = sns.load_dataset('tips')

In [8]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [10]:
np.mean(df['total_bill'])

np.float64(19.78594262295082)

Median

In [11]:
# Meadian

In [12]:
age = [12,21,23,45,65,43,56,45,32,67,54,34]

In [13]:
np.median(age)

np.float64(44.0)

In [14]:
age = [12,21,23,45,65,43,56,45,32,67,54,34,200]

In [15]:
np.mean(age)

np.float64(53.61538461538461)

In [16]:
np.median(age)

np.float64(45.0)

Mode

In [18]:
# Mode

## Mode ke liye specifie library use krte hai 

from scipy import stats

In [21]:
stats.mode(age)

ModeResult(mode=np.int64(45), count=np.int64(2))