In [2]:
import pandas as pd

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\viren\anaconda3\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\viren\anaconda3\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\viren\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\viren\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\viren\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\viren\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pd.read_csv("services.csv")

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,NaN,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [4]:
df = pd.read_csv("services.csv")

In [6]:
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [7]:
df.tail()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [8]:
df.head(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN

In [11]:
list(df.columns)

['id',
 'location_id',
 'program_id',
 'accepted_payments',
 'alternate_name',
 'application_process',
 'audience',
 'description',
 'eligibility',
 'email',
 'fees',
 'funding_sources',
 'interpretation_services',
 'keywords',
 'languages',
 'name',
 'required_documents',
 'service_areas',
 'status',
 'wait_time',
 'website',
 'taxonomy_ids']

In [ ]:
df["eligibility"]

0     Age 55 or over for most programs, age 60 or ov...
1     Age 55 or over, county resident and willing an...
2           Resident of San Mateo County age 55 or over
3                                                   NaN
4     Eligibility: Low-income family with legal cust...
5                                                   NaN
6                                        Age 18 or over
7               Homebound person unable to cook or shop
8       Resident of California to obtain a library card
9               Resident of California to obtain a card
10    Resident of California to obtain a library car...
11    English-speaking adult reading at or below 7th...
12      Resident of California to obtain a library card
13    None for most services. For emergency assistan...
14    Age 21-60, detoxed, physically able and willin...
15                        None for emergency assistance
16                                  Low-income families
17      Low-income person without access to health care
18      Low-income person without access to health care
19                                                  NaN
20                                                  NaN
21                                                  NaN
22                                                  NaN
Name: eligibility, dtype: object

In [18]:
pd.DataFrame(df["eligibility"])

                                          eligibility
0   Age 55 or over for most programs, age 60 or ov...
1   Age 55 or over, county resident and willing an...
2         Resident of San Mateo County age 55 or over
3                                                 NaN
4   Eligibility: Low-income family with legal cust...
5                                                 NaN
6                                      Age 18 or over
7             Homebound person unable to cook or shop
8     Resident of California to obtain a library card
9             Resident of California to obtain a card
10  Resident of California to obtain a library car...
11  English-speaking adult reading at or below 7th...
12    Resident of California to obtain a library card
13  None for most services. For emergency assistan...
14  Age 21-60, detoxed, physically able and willin...
15                      None for emergency assistance
16                                Low-income families
17    Low-income person without access to health care
18    Low-income person without access to health care
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN

In [19]:
type(df)

pandas.core.frame.DataFrame

In [20]:
len(df)

23

In [21]:
type(df["eligibility"])

pandas.core.series.Series

In [22]:
df["eligibility"]

0     Age 55 or over for most programs, age 60 or ov...
1     Age 55 or over, county resident and willing an...
2           Resident of San Mateo County age 55 or over
3                                                   NaN
4     Eligibility: Low-income family with legal cust...
5                                                   NaN
6                                        Age 18 or over
7               Homebound person unable to cook or shop
8       Resident of California to obtain a library card
9               Resident of California to obtain a card
10    Resident of California to obtain a library car...
11    English-speaking adult reading at or below 7th...
12      Resident of California to obtain a library card
13    None for most services. For emergency assistan...
14    Age 21-60, detoxed, physically able and willin...
15                        None for emergency assistance
16                                  Low-income families
17      Low-income person without access to health care
18      Low-income person without access to health care
19                                                  NaN
20                                                  NaN
21                                                  NaN
22                                                  NaN
Name: eligibility, dtype: object

In [33]:
import pandas as pd 

StudentData = {
    'Id' : [101,102,103,104,105,106,107,108,109],
    'Name' : ["Virendra", "Mudit", "Praveen", "Anisha", "Kumkum", "Ravi", "Meena", "Nisha","Rahul"],
    'Branch' : ["Computer Science", "Data Science", "Design", "Nurshing","Nurshing","Computer Science","Cyber Security","Design","Machine Learning" ],
    'Age' : [22,21,23,20,21,25,19,26,28],
    'Gender' : ["Male","Male","Male","Female","Female","Male","Female","Female","Male"],
    'Email' : ["Viru@gmail.com","mudit@gmail.com","praveen@gmail.com","anisha@gmail.com","kumkum@gmail.com","ravi@gmail.com","meena@gmail.com","nisha@gmail.com","rahul@gmail.com",] 
}

df = pd.DataFrame(StudentData, index = ['A','B','C','D','E','F','G','H','G'] )
df

    Id      Name            Branch  Age  Gender              Email
A  101  Virendra  Computer Science   22    Male     Viru@gmail.com
B  102     Mudit      Data Science   21    Male    mudit@gmail.com
C  103   Praveen            Design   23    Male  praveen@gmail.com
D  104    Anisha          Nurshing   20  Female   anisha@gmail.com
E  105    Kumkum          Nurshing   21  Female   kumkum@gmail.com
F  106      Ravi  Computer Science   25    Male     ravi@gmail.com
G  107     Meena    Cyber Security   19  Female    meena@gmail.com
H  108     Nisha            Design   26  Female    nisha@gmail.com
G  109     Rahul  Machine Learning   28    Male    rahul@gmail.com

In [38]:
type(df)

pandas.core.frame.DataFrame

In [44]:
# Create Series 

Age = [12,34,56,22,32]

df1 = pd.Series(Age,index=[111,122,133,144,155])

df1

111    12
122    34
133    56
144    22
155    32
dtype: int64

In [28]:
type(df1)

pandas.core.series.Series

In [29]:
len(df1)

5

In [45]:
df1[111]

np.int64(12)

In [47]:
df

    Id      Name            Branch  Age  Gender              Email
A  101  Virendra  Computer Science   22    Male     Viru@gmail.com
B  102     Mudit      Data Science   21    Male    mudit@gmail.com
C  103   Praveen            Design   23    Male  praveen@gmail.com
D  104    Anisha          Nurshing   20  Female   anisha@gmail.com
E  105    Kumkum          Nurshing   21  Female   kumkum@gmail.com
F  106      Ravi  Computer Science   25    Male     ravi@gmail.com
G  107     Meena    Cyber Security   19  Female    meena@gmail.com
H  108     Nisha            Design   26  Female    nisha@gmail.com
G  109     Rahul  Machine Learning   28    Male    rahul@gmail.com

In [49]:
pd.DataFrame(df['Name'])

       Name
A  Virendra
B     Mudit
C   Praveen
D    Anisha
E    Kumkum
F      Ravi
G     Meena
H     Nisha
G     Rahul

In [50]:
type(pd.DataFrame(df['Name']))

pandas.core.frame.DataFrame

In [51]:
df['Name','Age']

KeyError: ('Name', 'Age')

In [53]:
df[['Name','Age']]

       Name  Age
A  Virendra   22
B     Mudit   21
C   Praveen   23
D    Anisha   20
E    Kumkum   21
F      Ravi   25
G     Meena   19
H     Nisha   26
G     Rahul   28

In [57]:
df[['Id','Name', 'Gender', "Age"]]

    Id      Name  Gender  Age
A  101  Virendra    Male   22
B  102     Mudit    Male   21
C  103   Praveen    Male   23
D  104    Anisha  Female   20
E  105    Kumkum  Female   21
F  106      Ravi    Male   25
G  107     Meena  Female   19
H  108     Nisha  Female   26
G  109     Rahul    Male   28

In [61]:
df.head()

    Id      Name            Branch  Age  Gender              Email
A  101  Virendra  Computer Science   22    Male     Viru@gmail.com
B  102     Mudit      Data Science   21    Male    mudit@gmail.com
C  103   Praveen            Design   23    Male  praveen@gmail.com
D  104    Anisha          Nurshing   20  Female   anisha@gmail.com
E  105    Kumkum          Nurshing   21  Female   kumkum@gmail.com

In [62]:
df.tail()

    Id    Name            Branch  Age  Gender             Email
E  105  Kumkum          Nurshing   21  Female  kumkum@gmail.com
F  106    Ravi  Computer Science   25    Male    ravi@gmail.com
G  107   Meena    Cyber Security   19  Female   meena@gmail.com
H  108   Nisha            Design   26  Female   nisha@gmail.com
G  109   Rahul  Machine Learning   28    Male   rahul@gmail.com

In [63]:
df.head(3)

    Id      Name            Branch  Age Gender              Email
A  101  Virendra  Computer Science   22   Male     Viru@gmail.com
B  102     Mudit      Data Science   21   Male    mudit@gmail.com
C  103   Praveen            Design   23   Male  praveen@gmail.com

In [64]:
df.tail(2)

    Id   Name            Branch  Age  Gender            Email
H  108  Nisha            Design   26  Female  nisha@gmail.com
G  109  Rahul  Machine Learning   28    Male  rahul@gmail.com

In [65]:
df.dtypes

Id         int64
Name      object
Branch    object
Age        int64
Gender    object
Email     object
dtype: object

In [66]:
df.columns

Index(['Id', 'Name', 'Branch', 'Age', 'Gender', 'Email'], dtype='object')

In [67]:
list(df.columns
     )

['Id', 'Name', 'Branch', 'Age', 'Gender', 'Email']

In [68]:
df

    Id      Name            Branch  Age  Gender              Email
A  101  Virendra  Computer Science   22    Male     Viru@gmail.com
B  102     Mudit      Data Science   21    Male    mudit@gmail.com
C  103   Praveen            Design   23    Male  praveen@gmail.com
D  104    Anisha          Nurshing   20  Female   anisha@gmail.com
E  105    Kumkum          Nurshing   21  Female   kumkum@gmail.com
F  106      Ravi  Computer Science   25    Male     ravi@gmail.com
G  107     Meena    Cyber Security   19  Female    meena@gmail.com
H  108     Nisha            Design   26  Female    nisha@gmail.com
G  109     Rahul  Machine Learning   28    Male    rahul@gmail.com